@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.page
{
    margin:auto;
    max-width: 1440px;
    padding: 0 40px;
}
.page h1
{
    margin-top: 0;
}
h1
{
    font-size: 1.5rem;
}
h2
{
    font-weight: 400;
    font-size: 1.2rem;
}
header
{
    display: flex;
    justify-content: space-between;
    margin: auto auto 25px auto;
    margin-bottom: 25px;
    max-width: 1440px;
    padding:0 40px;
    align-items: center;
}
a
{
    text-decoration: none;
    color: black;
}
#accommodation-section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-nav
{
    display :flex;
}
.logo-container
{
    margin-top: 20px;
}
.main-nav ul
{
    display: flex;
    width: 100%;
    margin-top: 0;
}
.main-nav li
{
    padding: 40px 32px 0 38px
}
.main-nav li a
{
    padding-top: 38px;
}
ul
{
    list-style-type: none;
}
.button-registration
{
    margin-top: 25px;
    margin-left: 20px;
}
.registration
{
    border-radius: 15px;
    height: 46px;
    background-color: unset;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:#0065FC;
    padding: 0 6px 0 ;
}
nav a:hover
{
    border-top:2px #0065FC solid;
    color:#0065FC;
}
.registration:hover
{
    background-color:  #0065FC;
    color: #DEEBFF;

}
.registration:focus, #search-button
{
    outline: none;
}

/****search filter section****/
.search
{
    display:flex;
    justify-content: space-between;
    width: 422px;
    min-width: 200px;
    box-shadow:inset 0 0 0 1px #f2f2f2;
    border-radius: 10px;
    margin: 20px 0;
}
.search-map-icon
{
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    background-color: #DEEBFF;
}
#search-area
{
    display: flex;
    border:none;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    font-weight: 600;
}
#search-button
{
    display: block;
    border:none;
    color: white;
    font-weight: 700;
    border:unset;
    padding: 10px 13px;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#search-button:hover
{
    background-color: #deebff;
}
.search:hover .search-map-icon
{
    background-color: #f2f2f2;
}
.search-icon
{
    display: none;
}

/*filter option part*/
.filter, .filter-option-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#filter-zone-title
{
    display: flex;
    align-items: center;
    margin: 0 2em 0 0;
    font-weight: bold;
}

/* icon filter round decoration */
.filter-option .filter-option-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
}

/* checkbox filter masked with icon */
input[type="checkbox"]
{
    display:none;
}

.filter-option 
{
    display: flex;
    margin: 5px 25px 0 0;
    max-width:100%;
    align-items:center;
    box-shadow:inset 0 0 0 2px #f2f2f2;
    border-radius: 30px;
}

/* color label filter-opption when the user click on the label zone */
input[name="type-hebergement"]:checked + label.filter-option 
{
    background-color: #deebff;
    box-shadow: none;
}
.filter-option:hover
{
    background-color: #f2f2f2;
    transform: scale(1.015);
}
.filter-option-label
{
    font-weight: 900;
    padding: 0 15px 0 15px;
}
.filter-info
{
    display: flex;
    align-items: center;
    margin:  2rem 0 1.5rem 0;
}

/* icon info round decoration */

.info-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #0065FC;
    border:1px solid #deebff
}

/* section accommodation */

#accommodation-section
{
    display: flex;
    justify-content:space-between;
    margin-top: 2rem;
}
footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#f2f2f2;
    margin-top:2rem;
}
.more-info
{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}
.more-info a
{
    padding: 0.5rem 0 ;
}
.more-info a:hover
{
    font-weight: bold;
}

/*RESPONSIVE - SMARTPHONE*/

@media screen and (max-width: 660px )
{
    .page
    {
        padding: 170px 0 0;
    }
    #main-title, #sub-title, search
    {
        padding:0 0 0 1rem;
    }
    .logo-container
    {
        padding:0 20px;
    }
    .button-registration
    {
        position: absolute;
        right:20px;
        top: 0;

    }
   header
   {
        position: fixed;
        flex-wrap: wrap;
        background-color: white;
        padding: 0;
        width: 100%;
   }
    .main-nav
    {
        width: 100%;
    }
    .main-nav ul
    {
        width: 100%;
        padding:0;
    }
    .main-nav ul li
    {
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom:2px solid #f2f2f2 ;
    }
    .main-nav li:hover
    {
        border-bottom:2px solid #0065FC;
    }
    .main-nav ul li a,  .main-nav ul li a:hover, .main-nav ul li a:focus
    {
        border: none;
        padding: 0 0 19px;
    }
    .search
    {
        width: auto;
        margin: 20px;
        border-radius: 20px;
    }
    .search-icon
    {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .search-map-icon
    {
        padding: 16px 20px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #search-button
    {
        border-radius: 15px;
        width: 60px;
    }
    .search-texte
    {
        display: none;
    }
    #more
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .filter, .filter-info
    {
        margin-left: 20px;
    }
    .filter-option .filter-option-icon
    {
        padding:25px;
        height:25px;
    }
    .filter-option
    {
        margin: 5px 15px 10px 0;
    }
    .filter-option-label
    {
        font-weight: bold;
        font-size: 0.9rem;
    }
    
}