@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

.accommodation
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:65%;
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding: 2em;
}
.accommodation-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -20px;
}
.vignette-acc
{
    display: flex;
    flex-basis: 28%;
    flex-grow: 1;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #dedede;
    max-height: 12em;
    margin: 20px;
    padding:0.2rem;
}
.vignette-acc a
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vignette-acc a img
{
    max-height: 58%;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}
.vignette-acc .vignette-texte
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: black;
}
.vignette-texte p
{
    margin: 0.2rem;
}
.vignette-title
{
    font-size: 1rem;
    font-weight: 600;
}
.vignette-price
{
    font-size: 0.8rem;
}
.price-bold
{
    font-weight: bold;
}
.star-icon i.fa
{
    margin-top: 0.2rem;
    font-size: 1rem;
    color:#0065FC;
}
.vignette-more
{
    font-size: 1.2rem;
    font-weight: bold;
}
.vignette-acc:hover
{
    transform: scale(1.05);
}
.vignette-acc:active
{
    transform: scale(1);
}

/* POPULAR SECTION */

.popular-vignette-container
{
    display: flex;
    flex-direction:column;
    max-width: 30%;
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding: 2em 2em 0 2em;
}
.popular-vignette-container h1
{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: -1rem;
}
.popular-vignette-container h1 i.fa
{
    color: black;
}
.vignette-popular
{
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px #dedede;
    max-height: 140px;
    width: 100%;
    max-width: 100%;
    margin-top: 2.2rem;
    padding: 0.2rem;

}
.vignette-popular a
{
    display: flex;
    text-decoration: none;
}
.vignette-popular a img
{
    display: flex;
    width: 40%;
    max-width: 40%;
    max-height: 134px;
    object-fit:cover;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.vignette-popular .vignette-texte
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    margin-left: 1rem;
}
.vignette-popular .star-icon i.fa
{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}
i.fa-star.not-activated
{
    color:#f2f2f2;
}
.vignette-popular:hover
{
   transform:scale(1.05);
}

/*  ACTIVITIES SECTIONS */

.activities-section
{
    display: flex;
    flex-direction: column;
    margin-top : 3rem;
}
.activities-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    height: 490px;
    margin: -20px 0 -20px 0;
    align-content: space-between;
}
.activities
{
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width: 300px;
    margin: 20px 0 20px 0;
}
.activities.port, .activities.calanque
{
    height: 450px;
}
.activities.pomegue
{
    height: 240px;
}
.activities.garde
{
    height: 200px;
}
.activities.frioul
{
    height: 165px; 
}
.activities.longchamp
{
    height:210px;
}
.activities a
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.activities.frioul a img, .activities.pomegue a img,
.activities.garde a img, .activities.longchamp a img,
.activities.port a img, .activities.calanque a img
{
    display: flex;
    width: 100%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities.frioul a img
{
    height: 66%;
}
.activities.pomegue a img
{
    height: 80%;
}
.activities.garde a img
{
    height: 75%;
}
.activities.longchamp a img
{
    height: 72%;
}
.activities.port a img, .activities.calanque a img
{
    height: 87%;
}
.activities-texte .activities-title
{
    display: flex;
    /*height: 100%;*/
    align-items: center;
    margin-left: 1rem;
    color: black;
    font-weight: bold;
}
.activities:hover
{
    transform: scale(1.05);
}

/*RESPONSIVE - tablette */

@media screen and (max-width: 1300px )
{
    
    .activities-container
    {
        flex-direction: row ;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }
    .activities.port, .activities.calanque, .activities.pomegue,
    .activities.longchamp, .activities.frioul, .activities.garde
    {
        height: 250px;
        flex-basis: 47%;
    }
    .activities.frioul a img, .activities.pomegue a img,
    .activities.garde a img, .activities.longchamp a img,
    .activities.port a img, .activities.calanque a img
    {
        height: 70%;
    }
}
@media screen and (max-width: 1200px )
{
    .accommodation
    {
        order:2;
        width: 100%;
        max-width: 100%;

    }
    .vignette-acc
    {
        flex-basis: 28%;
        flex-grow: 1;
    }

    .popular-vignette-container
    {
        order:1;
        max-width: 100%;
        width:100%;
        justify-content: space-around;
        padding: 2em;
        margin-bottom: 2em;
    }
    .popular-vignette-container h1 a
    {
    padding: 0 0 0 2em;
    }
    .popular-tittle
    {
        display: flex;
    }
}

/*RESPONSIVE - SMARTPHONE */

@media screen and  (max-width: 660px)
{   
    .popular-vignette-container
    {
        order:1;
        max-width: 100%;
        padding: 1em 1em 2em;
        margin-bottom: 3em;
        margin-bottom: 1em;
    }
    .vignette-popular
    {
        margin-top: .5em;
        width: 100%;
        max-width: 100%;
    }
    #popular-title
    {
        margin-top: 1rem !important;
        margin-bottom: 2rem;
    }
    .accommodation
    {
        order: 2;
        max-width: 100%;
        width:100%;
        background-color: unset;
        padding: 1rem;

    }
    .vignette-acc
    {
        flex-basis: 100%;
        height:13rem;
        margin: 1rem;
    }
    .activities-section
    {
        padding: 1rem;
    }
    .activities-container
    {
        width: 100%;
    }
    .activities a img
    {
        height: 70%;
    }
    .activities.activities.port , .activities.calanque, .activities.frioul,
    .activities.garde, .activities.longchamp, .activities.pomegue
    {
        height: 12rem;
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        margin-top: 1rem;
    }
    .activities-texte
    {
        display: flex;
        height: 100%;
        align-items: center;

    }
    /*   anchor position margin du to fixed position header*/
    #accommodation-title:target::before, #activities-title::before
    {
        display: block;
        content:'';
        height: 170px;
        margin: -170px 0 0;
    }
    .activities-section
    {
        margin-top: 0;
    }
    footer
    {
        padding:2em;
    }
}