@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
#page
{
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px 40px;
}
header
{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 40px;
}
a
{
    text-decoration: none;
    color: black;
}
header,  #accommodation-section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
header .logo-container
{
    flex-grow: 1;
}
.main-nav ul
{
    display: flex;
    flex-direction: row;
    margin: 0 1.2em 0 0;
    width: 311px;
    justify-content: space-around;
}

.main-nav li a
{
    display: block;
    padding: 0.8em 1.5em;
    border-top: 2px solid white;
}
ul
{
    list-style-type: none;
}
.registration
{
    border-radius: 15px;
    height: 46px;
    background-color: unset;
    border: none;
    font-size: 1em;
    font-weight: 600;
    color:#0065FC;
    padding: 0px 6px 0px ;
}

h1
{
    font-size: 1.5em;
}
h2
{
    font-weight: 400;
    font-size: 1.2em;
}
nav a:hover
{
    border-top:2px #0065FC solid;
    color:#0065FC;
}
.registration:hover
{
    background-color:  #0065FC;
    color: #DEEBFF;

}
.registration:focus, #search-button
{
    outline: none;
}

/************search filter section********/
.search
{
    display:flex;
    justify-content: space-between;
    max-width: 400px;
    min-width: 200px;
    box-shadow:inset 0 0 0 1px #f2f2f2;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.search-map-icon
{
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    background-color: #DEEBFF;
}
#search-area
{
    display: flex;
    border:none;
    background-color: transparent;
    padding: 15px;
    min-width: 100px;
    font-weight: 600;
}
#search-button
{
    display: block;
    border:none;
    color: white;
    font-weight: 700;
    border:unset;
    padding: 15px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#search-button:hover
{
    background-color: #deebff;
}
.search:hover .search-map-icon
{
    background-color: #f2f2f2;
}
.search-icon
{
    display: none;
}

/*filter option part*/
.filter, .filter-option-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin: 2em;*/

}
#filter-zone-title
{
    display: flex;
    align-items: center;
    margin: 0 2em 0 0;
    font-weight: bold;
}

/* icon filter round decoration */
.filter-option .filter-option-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #0065FC;
    /*border: none;*/
    background-color: #DEEBFF;
}

/* checkbox filter masked with icon */
input[name="type-hebergement"] 
{
    position: absolute;
    left: -9999px;
}

.filter-option 
{
    display: flex;
    margin: 0px 25px 0px 0;
    max-width:100%;
    margin: 5px;
    align-items:center;
    box-shadow:inset 0 0 0 2px #f2f2f2;
    border-radius: 30px;
}
/* color label filter-opption when the used click on the label zone */
input[name="type-hebergement"]:checked + label.filter-option 
{
    background-color: #deebff;
    box-shadow: none;
}
.filter-option:hover .filter-option-icon
{
    background-color: #f2f2f2;
    transform: scale(1.015);
}
.filter-option-label
{
    font-weight: 600;
    padding: 0 15px 0 15px;
}
.filter-info
{
    display: flex;
    align-items: center;
    margin:  1em 0 1.5em 0!important;
}

/* icon info round decoration */
.info-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #0065FC;
    border:1px solid #deebff
}
/* section accommodation */
#accommodation-section
{
    display: flex;
    justify-content:space-between;
    margin-top: 2rem;
}

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#f2f2f2;
    margin: 2rem auto;
}
.more-info
{
    display: flex;
    flex-direction: column;
}
.more-info a
{
    padding: 0.5rem 0 ;
}
.more-info a:hover
{
    font-weight: bold;
}
/*RESPONSIVE - SMARTPHONE*/
@media screen and (max-width: 450px )
{
    #page
    {
        padding: 0;
    }
    #page h1, #page h2
    {
        padding:0 0 0 1rem;
    }
    header
    {
        align-items: center;
        background-color: white;
        padding: 0 0 1rem 0;
    }
    header .main-nav
    {
        order:2;
        width:100%;
    }
   
    .main-nav ul
    {
        width: 100%;
        justify-content: space-between;
        padding: 25px 0 0 0 ;
    }
    .main-nav ul li
    {
        width: 50%;
        text-align: center;
    }
    .main-nav ul li a,  .main-nav ul li a:hover, .main-nav ul li a:focus
    {
        border: none;
        border-bottom:2px solid #f2f2f2 ;
        padding: 23px 0 19px;
    }
    nav ul li a:active
    {
        border-bottom:2px solid #0065FC;
    }
    .search
    {
        max-width: 100%;
    }
    .search-icon
    {
        display: flex;
        justify-content: center;
        align-items: center
    }
    #search-button
    {
        border-radius: 15px;
        width: 50px;
    }
    .search-texte
    {
        display: none;
    }
    #more
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

}