@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

.accommodation
{
    /*width: 880px;*/
    max-width:880px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding: 40px 46px;
}
.accommodation-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vignette-acc
{
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    height: 200px;
    /*width: 250px;*/
    max-width:30%;
    min-width: 20%;
    margin-top: 35px;
    margin-bottom: 0.3rem;
    padding:0.4rem;

}
.vignette-acc a
{
    text-decoration: none;
}
.vignette-acc a img
{
    max-height: 115px;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
}
.vignette-acc .vignette-texte
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    margin-left: 0.5rem;
    margin-bottom: 1rem;

}
.vignette-texte p
{
    margin-top: 0.2rem;
    /*margin-bottom: 0.2rem;*/
}
.vignette-title
{
    font-size: 1rem;
    font-weight: 600;
}
.vignette-price
{
    font-size: 0.8rem;
}
.price-bold
{
    font-weight: bold;
}
.star-icon i.fa
{
    margin-top: 0.2rem;
    font-size: 1rem;
    color:#0065FC;
}
.vignette-more
{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    margin-top: 2rem;
}
.vignette-more h2
{
    font-size: 1.2rem;
    font-weight: bold;
}
.popular-vignette-container
{
    display: flex;
    flex-direction:column;
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding: 40px 46px;

}
.popular-vignette-container h1
{
    display: inline-flex;
    justify-content: space-between;
}
.popular-vignette-container h1 i.fa
{
    
    color: black;
}
.vignette-popular
{
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0 16p #dedede;
    max-height: 145px;
    max-width: 345px;
    margin-top: 2.2rem;
    padding: 0.4rem;

}
.vignette-popular a
{
    display: flex;
    text-decoration: none;
}
.vignette-popular a img
{
    display: flex;
    max-width: 40%;
    max-height: 134px;
    object-fit:cover;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.vignette-popular .vignette-texte
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    margin-left: 1rem;
}
.vignette-popular .star-icon i.fa
{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color:#0065FC;
}

/*  ACTIVITIES SECTIONS */

.activities-section
{
    display: flex;
    flex-direction: column;
    margin : 1rem;
}
.activities-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activities.single
{
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width:300px;
    min-width: 280px;
    max-height: 30em;
}
.activities.double
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    max-width:300px;
    min-width: 280px;
    max-height: 30em;
}
.activities.pomegue
{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width:300px;
    min-width: 280px;
    max-height: 57%;

}
.activities.frioul
{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width:300px;
    min-width: 280px;
    max-height: 37%;

}
.activities.garde
{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width:300px;
    min-width: 280px;
    max-height: 43%;

}
.activities.longchamp
{
    display: flex;
    flex-direction:column;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 16px #dedede;
    max-width:300px;
    min-width: 280px;
    max-height: 47%;

}

.activities a
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.activities.frioul a img
{
    display: flex;
    height: 66%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities.pomegue a img
{
    display: flex;
    width: 100%;
    height: 75%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities.garde a img
{
    display: flex;
    width: 100%;
    height: 75%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities.longchamp a img
{
    display: flex;
    width: 100%;
    height: 75%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities.single a img
{
    display: flex;
    width: 100%;
    height: 87%;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
}
.activities-texte .activities-title
{
    margin-left: 1rem;
    color: black;
    font-weight: bold;
}
.activities.single:hover, .activities.pomegue:hover, .activities.frioul:hover, .activities.garde:hover, .activities.longchamp:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 2rem #0065FC;

}
@media screen and (max-width: 768px )
{
        .activities
    {
        margin-bottom: 2rem;
    }
}

/*RESPONSIVE - SMARTPHONE */
@media screen and (max-width: 450px )
{
    .activities-container
    {
        flex-direction: column;
        justify-content: space-around;
    }
    .activities a img
    {
        height: 66%;
    } 
    .activities.single
    {
        height: 8em;
    }
    .activities.double
    {
        height: 16em;
    }
    .activities.pomegue
    {
        height: 50%;
    }
    .activities.frioul
    {
        height: 50%;
    }

}