@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body
{
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    margin: auto;
}
header
{
    margin: 0 auto;
    max-width: 1440;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
header nav ul
{
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap:wrap;*/
    justify-content: space-around;
    margin:auto;
    width: 300px;
}
#logo
{
    flex: 1;
    padding-top: 25px;

}
nav ul li a
{
    display: block;
}
ul
{
    list-style-type: none;
}
.registration
{
    border-radius: 15px;
    height: 46px;
    background-color: unset;
    border: none;
    font-size: 1em;
    font-weight: 600;
    color:#0065FC;
    padding: 0px 6px 0px ;
    margin: 25px 25px;
}
h1
{
    font-size: 1.2em;
}
h2
{
    font-weight: 400;
    font-size: 1em;
}
a
{
    font-weight: 400;
    text-decoration: none;
    color:black;
    padding-top: 40px;
}
nav a:hover
{
    border-top:2px #0065FC solid;
    color:#0065FC;
}
.registration:hover
{
    background-color:  #0065FC;
    color: #DEEBFF;

}

/************seavhr filter xection********/
.search
{
    display:flex;
    justify-content: space-between;
    width: 400px;
    border:1px #DEEBFF solid;
    border-radius: 15px;
    margin-bottom: 40px;
}
.span-map-icon
{
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    background-color: #DEEBFF;
}
#search-area
{
    border:unset;
    padding: 15px;
    font-weight: 600;
}
#search-button
{
    color: white;
    font-weight: 700;
    border:unset;
    padding: 15px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* icon round decoration */
.filter i.fa
{
    padding: 20px;
    border-radius: 50%;
    color: #0065FC;
    border: none;
    background-color: #DEEBFF;
}

/* checkbox mask with icon */
input[name="type-hebergement"] 
{
    position: absolute;
    left: -9999px;
}

.filter-option 
{
    display: flex;
    width:200px;
    align-items:center;
    border: 2px #f2f2f2 solid;
    border-radius: 30px;
}
/* color label filter-opption when the used click on the label zone */
input[name="type-hebergement"]:checked + label.filter-option 
{
    background-color: #deebff;
    box-shadow: inset;
}
.filter-option-label
{
    padding: 20px;
}